@import 'cafeblog.css';
@import './src/preNote/preNote.css';

.summary {
  background-image: linear-gradient(to bottom right, #87CEFA 50%, #FFFFFF 50%);
  background-size: 5px 5px;
  display: block;
  position: relative;
  padding: 3em 1em;
  border: 1px solid #87CEFA;
}

.summary:before {
  content: "まとめ";
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: yellow;
  font-weight: bold;
}

