@import 'cafeblog.css';
@import './src/preNote/preNote.css';

.summary {
  display: block;
  position: relative;
  padding: 3em 1em;
  border: 1px solid #87CEFA;
}

.summary:before {
  content: "まとめ";
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background: linear-gradient(to bottom, white 50%, #87CEFA 50%);
  background-size: 1px 20px;
  font-weight: bold;
}

