@import 'cafeblog.css';
@import './src/preNote/preNote.css';

.summary {
  background-image: linear-gradient(to bottom right, #87CEFA 50%, #FFFFFF 50%);
  background-size: 15px 15px;
  display: block;
  position: relative;
}

.summary:before {
  content: "まとめ";
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: yellow;
  font-weight: bold;
}

