.summary {
  display: block;
  position: relative;
  padding: 3em 1em 2em;
  border: 3px double #87CEFA;
}

.summary:before {
  content: "まとめ";
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background: repeating-linear-gradient(45deg, #E7F3FD, #E7F3FD 5px, white 5px, white 10px);
  border: 1px solid #B0E2FF;
  font-weight: bold;
}

.summary-memo {
  display: block;
  position: relative;
  padding: 3em 1em 2em;
  border: 3px double #87face;
}

.summary-memo:before {
  content: "メモ";
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background: repeating-linear-gradient(45deg, #E7FdF3, #E7FdF3 5px, white 5px, white 10px);
  border: 1px solid #B0ffe2;
  font-weight: bold;
}

.summary-point {
  display: block;
  position: relative;
  padding: 3em 1em 2em;
  border: 3px double #fa87ce;
}

.summary-point:before {
  content: "ポイント";
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background: repeating-linear-gradient(45deg, #fdE7F3, #fdE7F3 5px, white 5px, white 10px);
  border: 1px solid #ffb0e2;
  font-weight: bold;
}
